@page
@model WebApp.Pages.Game.ListGames

@{
    Layout = null;
}

<h1>List of Saved Games</h1>

<ul>
    @foreach (var gameSave in Model.GameSaves)
    {
        <li>
            @if (Model.CanJoinGame(gameSave.Id.ToString()))
            {
                <a class="item" asp-page="/Game/Play" asp-route-gameId="@gameSave.Id">@gameSave.Id</a>
            }
            else
            {
                <span class="item disabled">@gameSave.Id (Full)</span>
            }
        </li>
    }
</ul>

<style>
    .disabled {
        color: gray;
        cursor: not-allowed;
    }
</style>